# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to 
VITE_DATABASE_URL=
VITE_DATABASE_URL_POOLER=

# Ollama Configuration

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=deepseek-v3.1:671b-cloud
OLLAMA_API_KEY=ollama-ec032ff1ff41476cb4d1d35a262827f5.GqEswgZtnQ-1jDTqF2oec58R


DATABASE_URL=postgresql://neondb_owner:npg_XJUEuj7b6Zst@ep-mute-surf-agm1u915-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require